
<div class="flex flex-col w-full">

    <div class="w-11/12 mx-auto mt-5">
        <div class="flex flex-row w-full">
            <filter (filterChange)="filterValue = $event" [filterValue]="filterValue"></filter>
            <button
                [disabled]="!isUserAdmin"
                class="ml-auto mr-3 mt-7"
                mat-flat-button
                [color]="'primary'"
                (click)="addProduct()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1" i18n>Add</span>
            </button>
        </div>
        <app-product-table [refresh]="refresh" [filterValue]="filterValue"></app-product-table>
    </div>

</div>
