<div style="display: flex; flex-direction: column; gap:20px; width: 100vw; background: white">
<div class="content" id="js-drop-zone" style="margin: 10px">
    <div class="message intro">
        <div class="note">
            Drop BPMN diagram from your desktop or <a style="color: lightblue" id="js-create-diagram" href>create a new diagram</a> to get started.
        </div>
    </div>
    <div class="canvas" id="js-canvas"></div>
</div>

<ul class="buttons">
    <li><a id="js-download-diagram" href title="download BPMN diagram" style="color: dodgerblue; margin-left: 20px;">Download BPMN diagram</a></li>
</ul>
</div>
