<mat-card class="main-menu-tab-card">
    <p-toast></p-toast>
    <mat-card-header>
        <mat-card-title>
            <span routerLink="security" i18n>Payment history list</span>
        </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
        <div style="display: flex; gap: 16px; align-items: center;">
            <mat-form-field [ngClass]="{'date-invalid': isDateInvalid}">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate" (ngModelChange)="validateDateRange()">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field [ngClass]="{'date-invalid': isDateInvalid}">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate" (ngModelChange)="validateDateRange()">
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]="status">
                    <mat-option value="">All</mat-option>
                    <mat-option value="APPROVED">APPROVED</mat-option>
                    <mat-option value="REJECTED">REJECTED</mat-option>
                    <mat-option value="IN_PROCESSING">IN PROCESSING</mat-option>
                    <mat-option value="IN_DELIVERY">IN DELIVERY</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="startDate > endDate || !startDate || !endDate" (click)="applyFilter()">Apply Filter</button>

            <button mat-raised-button color="warn" (click)="clearFilter()">Clear Filter</button>



        </div>
        <div class="mat-elevation-z2 rounded-2xl overflow-x-auto sm:col-span-3 flex flex-col mt-8">

            <table  class="min-w-240 " class="w-full bg-transparent" mat-table
                    matSort [dataSource]="dataSource" *ngIf="!isLoading; else loading">
                <ng-container matColumnDef="DATE OF PAYMENT">
                    <th mat-header-cell *matHeaderCellDef style="background-color: #646464; color:white" i18n>DATE OF PAYMENT</th>
                    <td mat-cell *matCellDef="let row">
                        <span class="font-bold">{{row.updateDate | date: "dd MMMM yyyy HH:mm"}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="THE REQUESTER INVENTORY">
                    <th mat-header-cell *matHeaderCellDef style="background-color: #646464; color:white" i18n>THE REQUESTER INVENTORY</th>
                    <td mat-cell *matCellDef="let row">
                        <img [src]="row.theRequesterInventory.imageUrl"
                             style="width: 30px; height: 30px; border-radius: 100%; display: inline-block; vertical-align: middle;">
                        <span class="font-bold"
                              style="display: inline-block; vertical-align: middle; margin-left: 8px;">
          {{row.theRequesterInventory.name}}
    </span>
                    </td>

                </ng-container>
                <ng-container matColumnDef="THE PROVIDER INVENTORY">
                    <th mat-header-cell *matHeaderCellDef style="background-color: #646464; color:white" i18n>THE PROVIDER INVENTORY</th>
                    <td mat-cell *matCellDef="let row">
                        <img [src]="row.inventory.imageUrl"
                             style="width: 30px; height: 30px; border-radius: 100%; display: inline-block; vertical-align: middle;">
                        <span class="font-bold"
                              style="display: inline-block; vertical-align: middle; margin-left: 8px;">
          {{row.inventory.name}}
    </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="STATUS">
                    <th mat-header-cell *matHeaderCellDef style="background-color: #646464; color:white" i18n>STATUS</th>
                    <td mat-cell *matCellDef="let row">
                        <p-tag *ngIf="row.status === Status.REJECTED" icon="pi pi-times" severity="danger" [value]="row.status"/>
                        <p-tag *ngIf="row.status === Status.APPROVED" icon="pi pi-receipt" severity="success" [value]="row.status"/>
                        <p-tag *ngIf="row.status === Status.IN_PROCESSING" icon="pi pi-hourglass" severity="warning" [value]="row.status"/>
                        <p-tag *ngIf="row.status === Status.IN_DELIVERY" icon="pi pi-truck" severity="warning" [value]="row.status"/>
                    </td>
                </ng-container>
<!--                <ng-container matColumnDef="PHONE NUMBER">-->
<!--                    <th mat-header-cell *matHeaderCellDef style="background-color: #646464; color:white">PHONE NUMBER</th>-->
<!--                    <td mat-cell *matCellDef="let row">-->
<!--                        <span class="font-bold">{{row.phoneNumber}}</span>-->
<!--                    </td>-->
<!--                </ng-container>-->

                <ng-container matColumnDef="REQUESTED PRODUCTS">
                    <th mat-header-cell *matHeaderCellDef style="background-color: #646464; color:white" i18n>REQUESTED PRODUCTS</th>
                    <td mat-cell *matCellDef="let row">
                        <span *ngFor="let requestedProduct of row.productsRequested; let isLast = last;">
                            <img [src]="requestedProduct.product.imageUrl"
                                 style="width: 30px; height: 30px; border-radius: 100%; display: inline-block; vertical-align: middle;">
                        <span class="font-bold"
                              [matTooltip]="
                    'Name: ' + requestedProduct.product.name +'\n' +
                    ', Price: ' + requestedProduct.product.price +
                    ', Quantity: ' + requestedProduct.quantity +
                    ', Description: ' + requestedProduct.product.description
                "
                              style="display: inline-block; vertical-align: middle; margin-left: 8px; color: #1a78c3">
           {{requestedProduct.product.name}}
    </span>
                            <span *ngIf="!isLast"><br> </span>
                        </span>
                    </td>
                </ng-container>


                <ng-container matColumnDef="PAYMENT METHOD">
                    <th mat-header-cell *matHeaderCellDef style="background-color: #646464; color:white" i18n>PAYMENT METHOD</th>
                    <td mat-cell *matCellDef="let row">
                        <span class="font-bold">{{row.paymentMethod}}</span>
                    </td>
                </ng-container>


                <ng-container matColumnDef="RESPONSIBLE FOR OPERATION">
                    <th mat-header-cell *matHeaderCellDef style="background-color: #646464; color:white" i18n>RESPONSIBLE FOR OPERATION</th>
                    <td mat-cell *matCellDef="let row">
                        <img *ngIf="(row.inventory.responsableUserId | imageUrl | async) as profileImage; else imageLoader" [src]="profileImage"
                             style="width: 30px; height: 30px; border-radius: 100%; display: inline-block; vertical-align: middle;">
                        <ng-container *ngIf="(row.inventory.responsableUserId | username | async) as username; else loading">
                            <span class="font-bold ml-2">{{ username }}</span>
                        </ng-container>
                        <ng-template #loading>
                            <mat-spinner style="width: 20px!important; height: 20px!important;"></mat-spinner>
                        </ng-template>
                        <ng-template #imageLoader>
                            <img src="../../../../assets/images/avatars/placeholder.jpg" style="width: 30px; height: 30px; border-radius: 100%; display: inline-block; vertical-align: middle;">
                        </ng-template>
                    </td>
                </ng-container>



                <ng-container matColumnDef="ACTIONS" class="action-button">
                    <th mat-header-cell *matHeaderCellDef style="background-color: #646464; color:white" i18n>ACTIONS</th>

                    <td mat-cell *matCellDef="let row">

                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <!--                            <button  mat-menu-item class="action-button" (click)="editRole(row)">-->
                            <!--                                <mat-icon svgIcon="feather:edit"></mat-icon>-->
                            <!--                                <span>edit</span>-->
                            <!--                            </button>-->
                            <button  mat-menu-item [disabled]="row.invoicePdfUrl === null" (click)="downloadInvoice(row)">
                                <mat-icon svgIcon="picture_as_pdf"></mat-icon>
                                <span i18n>see/download invoice</span>
                            </button>
                            <!--                            <button disabled mat-menu-item (click)="editPermissions(row)">-->
                            <!--                                <mat-icon svgIcon="groups"></mat-icon>-->
                            <!--                                <span>add / remove grants</span>-->
                            <!--                            </button>-->



                        </mat-menu>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="background-color:#f6f6f6"></tr>
                <!-- Row shown when there is no matching data.-->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4" i18n>No data matching the filter</td>
                </tr>
            </table>

            <div>
                <mat-paginator aria-label="Select page of groups" [pageSize]="10"></mat-paginator>
            </div>

        </div>

    </mat-card-content>

</mat-card>
<ng-template #loading>
    <div style="display: flex; align-items: center; justify-content: center; padding: 30px">
        <div>
            <div class="flex-col gap-4 w-full flex items-center justify-center">
                <div class="w-28 h-28 border-8 text-blue-400 text-4xl animate-spin border-gray-300 flex items-center justify-center border-t-blue-400 rounded-full">
                    <svg viewBox="0 0 24 24" fill="currentColor" height="1em" width="1em" class="animate-ping">
                        <path d="M12.001 4.8c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624C13.666 10.618 15.027 12 18.001 12c3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C16.337 6.182 14.976 4.8 12.001 4.8zm-6 7.2c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624 1.177 1.194 2.538 2.576 5.512 2.576 3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C10.337 13.382 8.976 12 6.001 12z"></path>
                    </svg>
                </div>
            </div>

        </div>
    </div>
</ng-template>

