<div class="notification">
    <div class="notification-header">
        <h3 class="notification-title" i18n>New notification</h3>
        <mat-icon>clear</mat-icon>
<!--        <i class="fa fa-times" aria-hidden="true"></i>-->
    </div>
    <div class="notification-container">
        <div class="notification-media">
            <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="notification-user-avatar">
            <i class="fa fa-thumbs-up notification-reaction"></i>
        </div>
        <div class="notification-content">
            <p class="notification-text" *ngIf="notification.notificationType === 'REQUEST_FOR_PRODUCT'" i18n>
                the inventory <strong> {{notification.commandDto.inventory.name}} </strong>, requested  <strong> {{notification.commandDto?.productsRequested?.length}} product(s)</strong>
            </p>
            <p class="notification-text" *ngIf="notification.notificationType === 'ACCEPT_REQUEST_FOR_PRODUCT'" i18n>
                the inventory <strong> {{notification.commandDto.inventory.name}} </strong>, has <strong style="color: #00ad00">approved</strong> your request for the  <strong> {{notification.commandDto?.productsRequested?.length}} product(s)</strong>
            </p>
            <p class="notification-text" *ngIf="notification.notificationType === 'REFUSE_REQUEST_FOR_PRODUCT'" i18n>
                the inventory <strong> {{notification.commandDto.inventory.name}} </strong>, has <strong style="color: #ad0000">refused</strong> your request
            </p>
            <p class="notification-text" *ngIf="notification.notificationType === 'CONFIRM_THE_RECIPE_OF_PRODUCT'" i18n>
                the inventory <strong> {{notification.commandDto.theRequesterInventory.name}} </strong>, has <strong style="color: #00ad00">confirmed</strong> the recipe of the  <strong> request </strong>
            </p>
            <span class="notification-timer" i18n>a few seconds ago</span>
        </div>
        <span class="notification-status"></span>
    </div>
</div>
